@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

@font-face {
    font-family: 'SUNROLL';
    src: url('../fonts/SUNROLL.TTF') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alice', sans-serif;
    background: var(--gradient-color);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}

.hoofdletter{
    font-family: 'Sunroll', serif;
}

h1 {
    font-family: 'Sunroll', sans-serif;
    font-size: var(--font-h1);
    color: var(--white-color);
    position: absolute;
    bottom: 5%;
    left: 2%;
    text-align: left;
    line-height: 1.6;
    font-weight: 500;
    margin: 0px 20px;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#starsCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.white-section {
    background: var(--white-color);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.MV-container, .story {
    max-width: 800px;
    width: 90%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.MV-container{
    color: var(--black-color);
}

.story {
    color: var(--white-color);
}

.mission{
    margin-bottom: 40px;
}

.mission h2, .vision h2, .story h2 {
    font-family: 'Sunroll', serif;
    font-size: var(--font-h2);
    margin-bottom: 15px;
}

.mission p, .vision p, .story p {
    font-family: 'Alice', serif;
    font-size: var(--font-body);
    line-height: 1.6;
    font-weight: normal;
    text-align: justify;
}

.mission p, .vision p {
    color: #333;
}

.story p {
    color: var(--white-color);
}

.team {
    text-align: center;
    padding: 50px 20px;
}

.team h2 {
    font-family: 'Sunroll', serif;
    font-size: var(--font-h2);
    color: var(--black-color);
    margin-bottom: 50px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin-bottom: 50px;
}

.team-member {
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0px 0px 20px 0px;
    text-align: center;
    max-width: 280px;
    transition: transform 0.3s ease-in-out;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.team-member h3 {
    font-family: 'Alice', serif;
    font-size: var(--font-h3);
    margin: 20px 0 10px;
    color: var(--dark-blue-color);
}

.team-member p {
    font-family: 'Alice', serif;
    font-size: var(--font-body);
    color: #555;
}

@media only screen and (min-width: 778px) {
    h1 {
        font-size: var(--font-h1);
        margin-right: 160px;
    }

    .mission h2, .vision h2, .story h2, .team h2 {
        font-size: var(--font-h2);
    }

    .mission p, .vision p, .story p {
        font-size: var(--font-body);;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: var(--font-h1);
        margin-right: 400px;
    }

    .mission h2, .vision h2, .story h2, .team h2 {
        font-size:var(--font-h2);
    }

    .mission p, .vision p, .story p {
        font-size:var(--font-body);
    }

}

@media only screen and (max-width: 499px){
    h1 {
        font-size: var(--font-h1);
    }
}
