body {
    font-family: 'Alice', sans-serif;
    background: var(--gradient-color);
    margin: 0;
}

.header-contact h1 {
    color: var(--white-color);
    font-family: "Sunroll", serif;
    margin: 120px 24px 24px 24px;
    font-size: 24px;
}

.header-contact p {
    color: var(--white-color);
    margin: 24px 24px 48px 24px;
    line-height: 1.5;
}
.contact-form {
    max-width: 400px;
    margin: 40px;
    border-radius: 10px;
    color: var(--white-color);
}
.contact-form h2 {
    text-align: center;
    margin-bottom: 32px;
}
.contact-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
.contact-form input, .contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    width: 100%;
    padding: 12px;
    background: var(--white-color);
    opacity: 50%;
    color: #11152A;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}
.contact-form button:hover {
    background: var(--yellow-color);
    opacity: 100%;
}

@media screen and (min-width: 768px) {
   
   
.header-contact h1 {
  
    margin: 120px 64px 24px 64px;
    font-size: 28px;
}

.header-contact p {
    margin: 0px 64px 24px 64px;
    line-height: 1.5;
}

.contact-form {
    max-width: 800px; /* Maak het breder */
    width: 80%; /* Zorg dat het schaalbaar is */
    margin: 64px auto;
}


    .contact-form form {
        max-width: 800px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .contact-form label {
        width: 100%;
    }

    /* Zet de naamvelden naast elkaar */
    .name-group,
    .contact-group {
        display: flex;
        gap: 48px;
        width: 100%;
    }

    #firstname, #lastname,
    #email, #phone {
        flex: 1;
        width: 100%;
    }

    textarea#message {
        width: 670px;
    }
    /* Zorg dat message en de knop volledige breedte nemen */
    .contact-form button {
        width: 100%;
    }
    
    .contact-form div:last-child {
        width: 100%;
    }
    .contact-form button {
        width: 100%;
    }
    

  
    input#firstname,
    input#lastname,
    input#email,
    input#phone {
        width: 300px;
    }


}


@media only screen and (min-width: 1024px) {

     
.header-contact h1 {
  
    margin: 120px 120px 24px 400px;
    font-size: 32px;
}

.header-contact p {
    margin: 0px 120px 24px 400px;
}


.contact-form {
    max-width: 700px; /* Maak het breder */
   
}
}
