@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alice', sans-serif;
    background: var(--gradient-color);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}

.header h1 {
    color: var(--white-color);
    font-family: "Sunroll", serif;
    margin: 120px 24px 24px 24px;
}

.header p {
    color: var(--white-color);
    margin: 24px 24px 48px 24px;
    line-height: 1.5;
}

.feature {
    background-color: var(--white-color);
}

.feature,
.feature-twee {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    padding: 40px 24px;
    flex-direction: column !important; 
    text-align: center;
}

.feature img,
.feature-twee img {
    width: 150px;
    margin-bottom: 20px;
    order: -1;
}

.feature-text,
.feature-text-twee {
    max-width: 400px;
    text-align: center;
}

.feature-text h2,
.feature-text-twee h2 {
    font-family: "Sunroll", serif;
    margin: 24px 12px;
}

.feature-text-twee h2,
.feature-text-twee p {
    color: var(--white-color);
    line-height: 1.5;
}

.feature-text p,
.feature-text-twee p {
    margin: 12px 12px;
    line-height: 2;
}

@media only screen and (min-width: 778px) {
    .feature {
        align-items: top;
        justify-content: center;    
    }

.feature-text,
.feature-text-twee {
    max-width: 600px;
    font-size: 16px;
    text-align: left;
}

.feature,
.feature-twee {
    flex-direction: row !important;
    text-align: left; 
}


section.feature-twee {
    justify-content: center;
}

.feature img,
.feature-twee img {
    order: 0;
}
}


@media only screen and (min-width: 1024px) {
    .header h1 {
        margin: 120px 64px 24px 64px;
    }
    
    .header p {
        color: var(--white-color);
        margin: 24px 64px 48px 64px;
        line-height: 1.5;
    }

    .feature img,
    .feature-twee img {
    width: 200px;
    margin-bottom: 20px;
}
    .feature {
        align-items: top;
        justify-content: center; /* Added to center content horizontally */
        text-align: left;    
    }

    .feature-text h2,
    .feature-text-twee h2 {
        font-size: 32px;
    }

    .feature-text p,
    .feature-text-twee p {
        font-size: 18px;
    }

    .feature-text,
    .feature-text-twee {
    max-width: 500px;
}

section.feature-twee {
    justify-content: center;
}
}

@media only screen and (max-width: 499px) {

}
