:root {
    --white-color: #FFFDFD;
    --gradient-color: linear-gradient(to bottom, #000000 0%, #273166 60%, #000000 100%);
    --black-color: #131212;
    --yellow-color: #FEEDB6;
    --dark-blue-color: #11152A;
    --pure-black: #000000;


/* Basis tekstgroottes */
    --font-body: 1rem; /* 16px */
    --font-small: 0.875rem; /* 14px */
    --font-h1: 2rem; /* 32px */
    --font-h2: 1.8rem; /* 28px */
    --font-h3: 1.5rem; /* 24px */
    --font-header: 1.2rem; 
    --line-height: 1.6;
}

@media (min-width: 778px) {
    :root {
      --font-body: 1.125rem; /* 18px */
      --font-small: 1rem; /* 16px */
      --font-h1: 3rem; /* 40px */
      --font-h2: 2rem; /* 32px */
      --font-h3: 1.75rem; /* 28px */
      --font-button: 1.125rem; /* 18px */
    }
  }
  
  /* Desktop (≥ 1025px) */
  @media (min-width: 1024px) {
    :root {
      --font-body: 1.25rem; /* 20px */
      --font-small: 1.125rem; /* 18px */
      --font-h1: 3.6rem; /* 48px */
      --font-h2: 2.2rem; /* 40px */
      --font-h3: 2rem; /* 32px */
      --font-button: 1.25rem; /* 20px */
    }
  }